.about-us {
    padding: 80px 0;
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 30px;
        font-family: 'helvetica', sans-serif;
        line-height: 49px;
        font-weight: 300;
        color: #4c505d;
        text-align: center;
    }

    &__description {
        font-size: 14px;
        color: #4c505d;
        font-family: helvetica, sans-serif;
        font-weight: 400;
        text-align: center;
        line-height: 22px;
        margin-top: 20px;
    }

    &__buttons {
        display: flex;
        margin-top: 70px;
    }

    &__btn {
        margin: 0 35px;
    }
}

