@media (max-width:768px) {
    .header {
        padding: 20px 0;
        &__nav {
            position: absolute;
            top: 100px;
            left: -100%;
            transition-duration: 150ms;
        }
        &__logo {
            flex: 1 1 auto;
            padding-left: 20px;
        }
    }
    .logo-text {
        text-align: center;
    }
    .nav {
        flex-direction: column;
        &__link {
            margin-bottom: 30px;
            font-size: 24px;
        }
    }
    .space {
        display: none;
    }
    .burger {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .lock {
        overflow: hidden;
    }
    .header__nav.active {
        left: 0;
    }
    .modal {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #55adb7;
        z-index: 1;
        position: fixed;
        left: -100%;
        transition-duration: 150ms;
        &.active {
            left: 0;
        }
    }
    .slider {
		&__title {
            font-size: 36px;
		}
		&__bottom {
            font-size: 24px;
            padding: 7px 30px;
		}
    }
    .about-us {
        padding: 40px 0;
    }
    .author {
        padding: 30px 0;
        &__description {
            margin-top: 15px;
        }
    }
}
@media (max-width:426px) {
    .about-us {
        padding: 20px 0;
        &__buttons {
            justify-content: space-between;
            margin-top: 20px;
            width: 100%;
        }
        &__btn {
            margin: 0 0;
        }
    }
    .author {
        padding: 20px 0;
    }
    .footer {
        padding: 10px 0;
    }
}

@media (max-width:654px) {
    .feedback {
        background-image: url(../img/map.jpg);
        width: 100%;
        padding: 15px;
        &__circle {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border-radius: 0%;
            padding: 20px 5px 10px;
            opacity: 1;
        }
        
    }
    .fd {
        &__button {
            background-color: #fff;
            display: block;
        }
    }
}